#
# https://github.com/Finsys/hawser/tree/main?tab=readme-ov-file#docker
# https://dockhand.pro/manual/
#
#
name: hawser
#
services:
#
  hawser:
    container_name: hawser
    image: ghcr.io/finsys/hawser:latest
    environment:
      - TLS_CERT=/certs/${HAS_TLS_CERT} # .crt file
      - TLS_KEY=/certs/${HAS_TLS_KEY} # .key file
      - TOKEN=${HAS_TOKEN}
      - LOG_LEVEL=${HAS_LOGLEVEL} # optional
      - TLS_SKIP_VERIFY=${HAS_TLS_SKIP_VERIFY} # false/true
      - DOCKHAND_SERVER_URL=${HAS_DOCKSVR_URL} # leave blank for standard, populate for edge mode
    volumes:
      - ${LOCVOL1}hawser:/certs
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    healthcheck: # https://github.com/Finsys/hawser?tab=readme-ov-file#docker-health-check
        test: wget -q --spider https://localhost:2376/_hawser/health || exit 1
        interval: 30s
        timeout: 5s
        retries: "3"
        start_period: 10s
    restart: always
#
#
networks:
  default:
    name: ${CONNET}
    external: true
