#
# https://github.com/Finsys/hawser/tree/main?tab=readme-ov-file#docker
# https://dockhand.pro/manual/
#
# Hawser in standard mode

services:
  hawser:
    container_name: hawser
    image: ghcr.io/finsys/hawser:latest
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - TLS_CERT=${TLS_CERT} # .crt/.pem file
      - TLS_KEY=${TLS_KEY} # .key/.pem file
      - CA_CERT=${CA_CERT} # .crt/.pem file
      - TOKEN=${TOKEN}
      - LOG_LEVEL=${LOG_LEVEL} # optional
      - TLS_SKIP_VERIFY=${TLS_SKIP_VERIFY} # false/true
      - AGENT_NAME=${AGENT_NAME} # recommend host/client name
      #- DOCKHAND_SERVER_URL=${DOCKHAND_SERVER_URL} # leave blank for standard, populate for edge mode
      
    volumes:
      - ${LOCVOL1}hawser:/certs
      - ${HAWSER_STACKS}:/data/stacks
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2376:2376
    restart: always


networks:
  default:
    name: ${CONNET}
    external: true